<div>
  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">Add</button>
     <p> Place for adding tasks</p>
    </div>
  </div>

  <div class="container">
    <div>
      <p> List of tasks</p>
      <ng-container *ngIf="tasksList.length > 0; else noTasks">
      <ul>
        <li *ngFor="let tasks of tasksList">
          {{tasks}}
          <button (click)="remove(tasks)">Remove</button>
          <button (click)="done(tasks)">Done</button>

        </li>
      </ul>
    </ng-container>
    <ng-template #noTasks>
      <p>Lack of tasks, GO HOME!!!! </p>
    </ng-template>
   
   
    </div>

    <div>
     <p> Tasks completed: {{tasksDone.length}}</p>
      <ul>
         <li *ngFor="let tasks of tasksDone">
          {{tasks}}
        </li>
      </ul>
      
    </div>

  </div>